<!DOCTYPE html>
<html lang="en">

  <head>
    <%- include("./partials/header"); %>
      <title>Blogify API</title>
  </head>

  <body>
    <%- include("./partials/nav_bar"); %>
      <h1>Welcome to Blogs API Home Page</h1>
      <%- include("./partials/scripts"); %> <%- include("./partials/footer"); %>
  </body>

</html>